# Editor configuration
.vscode/

# Build folders
debug/
build*/
dev_*/
**/.cache/

# For clangd
compile_commands.json

# CMake files
CMakeFiles/
CMakeCache.txt

# Generated JS files
/test/**/*.js
/demo/**/*.js

# MacOS
.DS_Store

# NPM
node_modules/
src/render/react/index.js
